/*
 * Main Styles for py-postman docs
 * Author: McSixDev (mcsixdev)
 * Telegram: @McSixDev
 * Last Update: 24.02.2026
 */
.nav-link { transition: all 0.2s ease-in-out; position: relative; }
.nav-link:hover { background: rgba(0, 0, 0, 0.05); color: #0f172a; }
html.dark .nav-link:hover { background: rgba(255, 255, 255, 0.05); color: #f8fafc; }
.nav-link.active { background: rgba(249, 115, 22, 0.1); color: #f97316; font-weight: 500; }
.nav-link.active::before { content: ''; position: absolute; left: -1rem; top: 10%; height: 80%; width: 3px; background-color: #f97316; border-radius: 0 4px 4px 0; }
